*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'MS PMincho';
    animation: fadeIn 3s ease;
}

@keyframes fadeIn{
    from{opacity: 0.3;}
    to{opacity: 1;}
}

nav{
    position: fixed;
    background-color: rgba(19, 19, 67, 0.8);
    height: 70px;
    width: 100%;
    transition: 1s;
    z-index: 1000;
}

nav:hover{
    background-color: rgb(20, 2, 55);
}

.main-nav{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    width: 30%;
    float: right;
    margin-right: 7%;
    padding: 10px 0;
    opacity: 1;
}

.nav-text{
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(172, 112, 29) !important;
    padding: 15px 10px;
    transition: 1s;
}

.nav-text:hover{
    text-shadow: 0px 0px 10px yellow;
    transform: scale(1.2);
}

.now{
    color: white !important;
    text-shadow: 0px 0px 10px yellow;
}

main{
    padding-top: 70px;
}

.ft{
    color: white;
    text-align: center;
    text-shadow: 0 0 10px white;
    margin: 30px auto;
}