*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'MS PMincho','Hiragino Mincho ProN','Hiragino Mincho Pro','serif';
    animation: fadeIn 3s ease;
}

@keyframes fadeIn{
    from{opacity: 0.3;}
    to{opacity: 1;}
}

nav{
    position: fixed;
    background-color: rgba(19, 19, 67, 0.9);
    min-height: 70px;
    width: 100%;
    transition: 1s;
    z-index: 1000;
}

nav:hover{
    background-color: rgb(20, 2, 55);
}

.main-nav{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    width: 30%;
    float: right;
    margin-right: 7%;
    padding: 10px 0;
    opacity: 1;
}

.nav-text{
    font-size: 1.3rem;
    text-decoration: none;
    color: white !important;
    padding: 15px 10px;
    transition: 1s;
}

.nav-text:hover{
    text-shadow: 0px 0px 20px white;
    transform: scale(1.2);
}

.now{
    color: yellow !important;
}

main{
    padding-top: 112px;
    width: 100%;
}

.block{
    width: 70%;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    padding:20px 3%;
    transition: 1s;
    position: relative;
}

.block:hover{
    background-color: rgba(0,0,0,0.85);
}

.back-top{
    width: 5%;
    min-width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(0,0,0);
    color: white;
    text-shadow: 0 0 10px white;
    text-decoration: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    opacity: 0.5;
}

.back-top:hover{
    background-color: white;
    box-shadow: 0 0 10px white;
    color: black;
    text-shadow: 0 0 10px black;
    opacity: 1;
}

#top{
    scroll-margin-top: 128px;
}

.select-info{
    margin-top:20px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 10px white;
}

.taiwan-gif{
    width: 10%;
    margin:10px auto;
}

.taiwan-gif img{
    width: 100%;
}
.ft{
    color: white;
    text-align: center;
    text-shadow: 0 0 30px black;
    margin: 30px auto;
    font-weight: bold;
}