body{
    background-image: url("../images/gurume.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.food-t{
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 20px auto;
    font-weight: bold;
}

.wrap-ctn{
    width: 85%;
    padding: 10px 5%;
    margin: 10px auto;
    
}

.wrap-ctn ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrap-ctn a{
    width: 24%;
    color: white;
    margin: 10px 3%;
    text-decoration: none;
    transition: 1s;
}

.wrap-ctn a:hover{
    color: yellow;
    text-shadow: 0 0 10px yellow;
}

.select-info{
    margin-top:20px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 10px white;
}

.wrap-f-intro{
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.f-intro{
    flex:1 1 280px;
    min-width: 280px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    padding:20px 50px;
    margin: 20px 1%;
    scroll-margin-top: 128px;
    transition: 1s;
}

.f-intro:hover{
    background-color: rgba(0,0,0,0.85);
}

.food-name{
    color: white;
    font-size: 24px;
    text-align: center;
}

.food-intro{
    margin: 10px auto;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
}

.wrap-f-img{
    max-width: 280px;
    max-height: 180px;
    border-radius: 10px;
    margin:20px auto;
    overflow-y: hidden;
}

.wrap-f-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}