body{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-title{
    font-size: 60px;
    margin-top: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px yellow;
    text-align: center;
}

.main-intro{
    color: white;
}

.t-name{
    color: white;
    font-weight: bold;
    margin: 0 auto 20px;
    text-align: center;
}
.intro-table{
    width: 80%;
    margin: 20px auto;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 5px white;
}

.intro-table td{
    padding: 10px;
    border-bottom: 1px solid white;
    box-shadow: 0 0 5px white;
}

.intro-table td:first-child{
    border-right: 1px solid white;
    width: 30%;
}

.intro-table tr:last-child td{
    border-bottom: none;
}

.flag{
    width: 30%;
}

.wrap-link{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ref-mg{
    margin: 10px 20px;
}

.ref{
    width: 100%;
    margin:auto;
    color: white;
    font-size: 16px;
    overflow-wrap: break-word;
}

.map-block{
    min-width: 300px;
}
.map{
    margin:10px auto;
    width: 300px;
}

.map img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.c-name{
    width: 112px;
    position: absolute;
    top: 220px;
    right: 20%;
    color: yellow;
    text-shadow: 0 0 5px yellow;
    text-align: center;
    padding: 20px;
    border: 0 0 3px yellow;
    box-shadow: 0 0 5px yellow, inset 0 0 5px yellow;
    border-radius: 10px;
    background-color: black;
}

.yilan,.keelung,.taipei,.new-taipei,.taoyuan,.hsinchu,.miaoli,.taichung,.hualien,.nantou
,.changhua,.yunlin,.chiayi,.tainan,.kaohsiung,.pingtung,.taitung,.penghu,.liengchiang,.kinmen{
    display: none;
}

#yl:hover~.yilan,#kl:hover~.keelung,#tp:hover~.taipei,#newt:hover~.new-taipei
,#ty:hover~.taoyuan,#hc:hover~.hsinchu,#ml:hover~.miaoli,#tc:hover~.taichung
,#hl:hover~.hualien,#nt:hover~.nantou,#ch:hover~.changhua,#yul:hover~.yunlin
,#cy:hover~.chiayi,#tn:hover~.tainan,#kh:hover~.kaohsiung,#pt:hover~.pingtung
,#tt:hover~.taitung,#ph:hover~.penghu,#lc:hover~.liengchiang,#km:hover~.kinmen{
    display: block;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn{
    from{opacity: 0.1;}
    to{opacity: 1;}
}

.county-block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.county{
    max-width: 28%;
    min-width: 200px;
    border-radius: 10px;
    background-color: black;
    flex:1 1 200px;
    padding:10px;
    margin: 20px;
    scroll-margin-top: 128px;
    transition: 1s;
}

.county-y{
    border: 1px solid yellow;
    box-shadow: 0 0 10px yellow;
    color: yellow;
}

.county-w{
    border: 1px solid white;
    box-shadow: 0 0 10px white;
    color: white;
}

.c-chi-name{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.c-eng-name{
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.cty-intro{
    width: 90%;
    margin: 10px auto;
    padding-left: 20px;
    font-size: 15px;
    line-height: 24px;
}

.hide{
    background-color: transparent;
    color: transparent;
    height: 0;
}
