body{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-title{
    font-size: 60px;
    margin-top: 30px;
    font-weight: bold;
    text-shadow: 0 0 10px yellow;
    text-align: center;
}

.t-name{
    color: white;
    font-weight: bold;
    margin: 0 auto 20px;
    text-align: center;
}
.intro-table{
    width: 80%;
    margin: 20px auto;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0 0 5px white;
}

.intro-table td{
    padding: 10px;
    border-bottom: 1px solid white;
    box-shadow: 0 0 5px white;
}

.intro-table td:first-child{
    border-right: 1px solid white;
    width: 30%;
}

.intro-table tr:last-child td{
    border-bottom: none;
}

.flag{
    width: 30%;
}

.wrap-link{
    width: 80%;
    padding:0 10%;
    margin: auto;
    text-align: center;
}

.ref-mg{
    margin: 10px auto;
}

.ref{
    width: 100%;
    margin:auto;
    color: white;
    font-size: 16px;
    overflow-wrap: break-word;
}

.map{
    margin:10px auto;
    width: 50%;
}

.map img{
    width: 100%;
    border-radius: 10px;
}